<main class="container">
  <!-- <form class="row" (submit)="greet($event, greetInput.value)">
    <input #greetInput id="greet-input" placeholder="Enter a name..." />
    <button type="submit">Greet</button>
  </form>
  <p>{{ greetingMessage }}</p> -->
  <router-outlet></router-outlet>
  <!-- <x-grid></x-grid> -->
  <div class="main-layout">
    <x-grid></x-grid>
    <x-ui-layer></x-ui-layer>
    <!-- <x-toolbar></x-toolbar>
    <x-sidebar (toggle)="sidebarCollapsed = !sidebarCollapsed"></x-sidebar> -->

    <!-- <div class="main-content"> -->

    <!-- </div> -->
  </div>
</main>
