.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #181818;
  user-select: none;

  /* z-index: 0; */
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid rgb(40, 40, 40);

  image-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.viewport.dragging .canvas {
  cursor: grab;
  /* cursor: grabbing; */
}

.center-line {
  position: absolute;
  background: red;
  z-index: 10; /* above grid lines, below pieces if you want */
  pointer-events: none; /* so it doesn't block mouse events */
}

.center-line.vertical {
  top: 0;
  left: 50%;
  width: 2px; /* or whatever thickness you want */
  height: 100%;
  transform: translateX(-50%);
}

.center-line.horizontal {
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}
