<div
  class="viewport"
  [class.dragging]="dragging()"
  (mousedown)="pointerDown($event)"
  (contextmenu)="onContextMenu($event)"
  (wheel)="onWheel($event)"
>
  @if (showContextMenu()) {
  <x-context-menu
    [isVisable]="showContextMenu()"
    [menuX]="lastMouseX()"
    [menuY]="lastMouseY()"
  ></x-context-menu>
  }

  <div
    class="canvas"
    [style.width]="grid.size + 'px'"
    [style.height]="grid.size + 'px'"
    [style.transform]="transform"
    [style.background]="gridBackground"
    #canvas
  >
    <div class="center-line vertical"></div>
    <div class="center-line horizontal"></div>
    <x-pattern
      [gridZoom]="this.zoom()"
      [gridSize]="this.grid.size"
      [canvasRect]="this.canvas.nativeElement.getBoundingClientRect()"
    ></x-pattern>
  </div>
</div>
